<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceExamSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.yekongxing.cn/WebServiceExam.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceExamSoap" contract="CheckReg.WebServiceExamSoap" name="WebServiceExamSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
